<div class="col-md-6">
  <h2 class="text-center">Adicionar número de telefone</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="phoneNumber">Número de telefone:</label>
      <input type="phoneNumber" formControlName="phoneNumber" placeholder="Numero de telefone" name="phoneNumber" class="form-control" id="phoneNumber">
    </div>

    <div class="form-group">
      <label for="businessEntityID">Entidade de negócio:</label>
      <input formControlName="businessEntityID" placeholder="Entidade de negocio" name="businessEntityID" class="form-control" id="businessEntityID">
    </div>

    <div class="form-group">
      <label for="phoneNumberTypeID">Tipo de número de telefone:</label>
      <select formControlName="phoneNumberTypeID" class="form-control" placeholder="Tipo de número de telefone" >
        <option *ngFor="let phoneNumberType of phoneNumberTypes" placeholder="Tipo de número de telefone" value= {{phoneNumberType.phoneNumberTypeID}} id="phoneNumberTypeID">
          {{phoneNumberType.name}}
        </option>
     </select>
    </div>

    <button class="btn btn-success">Adicionar</button>
  </form>
</div>